body {
    background-color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}


h1 {
    font-size: 3rem;

}

h2 {
    font-size: 2rem;
}

h1, h2 {
    font-family: cursive;
}


header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    list-style: none;
    text-align: center;
    background-color: navy;
    
}

nav li {
    display: inline-block;
    font-size: larger;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: yellow;
    
}

.promotion {
    background-image: url("../media/promotion\ \(2\).jpg");
    border-radius: 3rem;
    background-size: cover;
    
}

.promotion article {
    color:aliceblue;
    font-size: larger;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
}

.informations{
    background-color: black;
    padding: 2rem;
    border-radius: 2rem;
}

.info img {
    position: relative;
    margin-left: 2rem;
    margin-right: 2rem;
}

.info {
    border-color: white;
    border-style: double;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;

}


@media only screen and (max-width: 800px) {
    .informations {
      display: grid;
      grid-template-rows: 20rem 20rem 20rem;
    }

    .info {
        overflow: hidden;
        text-overflow: ellipsis;

    }
    
    .info:hover {
        overflow: scroll;
        overscroll-behavior:inherit;

    }

    img {
        content-visibility: hidden;
    }
  }


section {
    display: flex;
    margin: 2rem;
}

article {
    flex: 1;
}

footer {
    display: flex;
}



